<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniHang Home</title>

    <link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
    <header>
        <a href="/">
            <img src="../public/media/img/unihang_logo.jpg" alt="UniHang" class="logo">
        </a>

        <button id="login">Login</button>
        <br>

        <nav>
            <ul>
                <li id="on"><a href="/">Home</a></li>
                <li><a href="/orgs">Orgs</a></li>
                <li><a href="/events">Events</a></li>
                <li class="navcontent" id="float"><a href="/">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="container">
            <h2>What We're About</h2>
            <div id="aboutus">
                Helping bring Oakland University students come together!
                <br>
                Students from all over can join the fun that students from Oakland University
                are having too! This web application is about finding organizations/clubs to 
                join and finding events to go to. We at UniHang hope you can find what you are
                looking for! 
            </div>
        </section>

        <section class="container">
            <h2>Fun Facts</h2>
            <div class="funfacts">
                Uni is short for University!
            </div>

            <img src="../public/media/img/uni.jpg" alt="Sea Urchins" id="uni">
            <div class="funfacts">
                Fun fact! Did you know?
                <br>
                Uni (oo-nee) is Japanese for sea urchin gonads.
                <br>
                You can pronouce Uni however you want to. It is all the same to us!
            </div>
        </section>

        
    </main>
    
    <hr>
    
    <footer>
        &copy; UniHang
    </footer>
</body>
</html>