<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniHang Organizations</title>
    <link rel="stylesheet" href="../public/css/organizations.css">

</head>
<body>
    <header>
        <a href="/">
            <img src="../public/media/img/unihang_logo.jpg" alt="UniHang" class="logo">
        </a>

        <nav>
            <ul id="nav">
                <li class="navcontent"><a href="/">Home</a></li>
                <li class="navcontent" id="on"><a href="/orgs">Orgs</a></li>
                <li class="navcontent"><a href="/events">Events</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="container">
            <h2>Orgs</h2>
            <div class="org">
                <img src="../public/media/img/fasou.jpg" alt="Fasou Logo" class="orglogo">
                <span class="orgname">Filipino-American Students of Oakland University</span>
                <h3>Org Details</h3>
                <p class="orgInfo">FASOU is a multicultural organization whose aim is to allow anyone to meet new people and learn about the 
                    Filipino culture within the Oakland University and greater community. We put on fun cultural events throughout each 
                    month with topics ranging from Filipino dance, food, language, and identity. We also have social events too to give 
                    you the opportunity to connect with Filipino students (and friends) at OU and neighboring schools. At the end of each 
                    year, we host a Philippine Culture Night as a huge showcase of our culture, full of performances, community, and good food 
                    too! All are welcomed to join our family; you do not need to be Filipino to join!
                </p>
                <h3>Contact Information</h3>
                <p class="orgInfo">
                    Email: fasou2018@gmail.com
                </p>
            </div>

            <div class="org">
                <img src="../public/media/img/halo.jpg" alt="Halo Logo" class="orglogo">
                <span class="orgname">Hispanic American Leadership Organization</span>
                <h3>Org Details</h3>
                <p class="orgInfo">
                    HALO (Hispanic American Leadership Organization) works as a social network for students while perpetuating 
                    and fostering the customs and traditions of Hispanics through Oakland University and civic events. Following 
                    our original mission HALO has grown to establish chapters throughout the US.
                </p>
                <h3>Contact Information</h3>
                <p class="orgInfo">
                    N/A
                </p>
            </div>
        </section>
         
        <section class="container">
            <div>
                Check out Oakland University's <a href="https://www.oakland.edu/osi/student-organizations/">student organizations</a>
                to find more information.
            </div>
        </section>
    </main>

    <footer>
        <hr>
        &copy; UniHang
    </footer>
    
</body>
</html>